{$CAMPUSHUB_DOMAIN} {
  encode zstd gzip

  @fichiersSensibles path \
    /.env* \
    /.git/* \
    /.ssh/* \
    /.svn/* \
    /wp-* \
    /phpinfo.php \
    /actuator/* \
    /*.sql \
    /*.key \
    /*.pem \
    /*.log \
    /*.yml \
    /*.yaml \
    /*.zip \
    /*.tar.gz \
    /docker-compose.*
  respond @fichiersSensibles 404

  reverse_proxy app:4000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
