{$CAMPUSHUB_DOMAIN} {
  encode zstd gzip
  reverse_proxy app:4000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
